<div class="container">
    <section class="hero">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    {{category?.strCategory}}
                </h1>
            </div>
        </div>
    </section>
    <div id="category-drinks" class="container">
        <div class="columns is-multiline">
            <div class="column is-one-quarter" *ngFor="let drink of drinks">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img [src]="drink.image" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <p class="title is-6">{{drink.strDrink}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>